<h1>Github Analyzer</h1>

<input [(ngModel)]="githubUsername" placeholder="GitHub username" />
<button (click)="search()">Search</button>

<div class="spinner" *ngIf="loading"></div>

<p *ngIf="error">{{ error }}</p>

<div *ngIf="data">
  <p>Username: {{ data.username }}</p>
  <p>Followers: {{ data.followers }}</p>
  <p *ngIf="data.followers_message">{{ data.followers_message }}</p>

  <p>Most used language: {{ data.most_used_language }}</p>

  <p>All languages: {{ data.all_languages }}</p>

  <p>Repos:</p>
  <ul>
    <li *ngFor="let repo of data.repos">{{ repo }}</li>
  </ul>
  <p *ngIf="data.repos_message">{{ data.repos_message }}</p>
</div>
